header{
    display: flex;
    height: 70px;
    background-color:#356A96 ;
    color: white;
    vertical-align: center;
    line-height: 70px;
    padding: 0 20px;
}
.br{
    flex: 1;
}

.header-right ul{
    display: flex;
    text-decoration: none;
}


.header-right ul li{
    list-style: none;
    margin: 0 20px;

}

.header-right ul li a{
    text-decoration: none;
    color: white;
}
.top{
    background-image: url(img/image1.png);
    background-size: cover;
    height: 500px;
    padding-top: 70px;
}
.top h2{
    color: white;
    padding-top: 50px;
}
.container{

}
h1{
    text-align: center;
    margin: 50px 0;
}
.row{
    justify-content: center;
}
.news{
    height: 300px;
    border: solid 1px black;
}
.contents{
    height: 400px;
    background-color:#F0F0F0 ;
    margin: 50px 0;
}
.footer-img{
    background-image: url('https://picsum.photos/1900/620');
    background-size: cover;
    height: 400px;
    text-align: center;
    vertical-align: center;
    color: white;
    padding-top: 70px;
}
footer{
    display: flex;
    border: black solid 1px;
    height: 200px;
}
.footer-right ul li{
    list-style: none;
    
}
.footer-right ul li a{

    text-decoration: none;
    color: black;
}
input{
    width: 100%;
}